@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-teal: var(--teal);
  --color-teal-foreground: var(--teal-foreground);
  --color-orange: var(--orange);
  --color-orange-foreground: var(--orange-foreground);
  --color-growth-green: var(--growth-green);
  --color-growth-green-foreground: var(--growth-green-foreground);
  --color-gold: var(--gold);
  --color-gold-foreground: var(--gold-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: #f5f7f8;
  --foreground: #182C3D;
  --card: #fdfdfd;
  --card-foreground: #182C3D;
  --popover: #fdfdfd;
  --popover-foreground: #182C3D;
  --primary: #0a3962;
  --primary-foreground: #e0e4f5;
  --secondary: #6e4c93;
  --secondary-foreground: #F1ECFF;
  --muted: #aeb4b9;
  --muted-foreground: #545B62;
  --accent: #004480;
  --accent-foreground: #d2e3f8;
  --destructive: #C62828;
  --destructive-foreground: #ffffff;
  --teal: #1A9B8A;
  --teal-foreground: #e1f7f4;
  --orange: #f26D3E;
  --orange-foreground: #fff3eb;
  --growth-green: #4CAF50;
  --growth-green-foreground: #e7f5ea;
  --gold: #FFB100;
  --gold-foreground: #fff7e0;
  --border: #e4e4e4;
  --input: #eae7f0;
  --ring: #8c79ab;
  --chart-1: #8c79ab;
  --chart-2: #e6a5b5;
  --chart-3: #77b8a4;
  --chart-4: #f0cd8d;
  --chart-5: #a0b8e3;
  --sidebar: #f5f7f8;
  --sidebar-foreground: #072641;
  --sidebar-primary: #072641;
  --sidebar-primary-foreground: #f8f7fa;
  --sidebar-accent: #004480;
  --sidebar-accent-foreground: #f8f7fa;
  --sidebar-border: #c7c7c7;
  --sidebar-ring: #f5f7f8;
  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}

.dark {
  --background: #031e35;
  --foreground: #ECEFF1;
  --card: #012849;
  --card-foreground: #F5F5F5;
  --popover: #012849;
  --popover-foreground: #F5F5F5;
  --primary: #90CAF9;
  --primary-foreground: #0a1a2a;
  --secondary: #B39DDB;
  --secondary-foreground: #1d142f;
  --muted: #546E7A;
  --muted-foreground: #CFD8DC;
  --accent: #01335f;
  --accent-foreground: #102331;
  --destructive: #EF5350;
  --destructive-foreground: #1A0000;
  --teal: #4DB6AC;
  --teal-foreground: #10211F;
  --orange: #FF8A65;
  --orange-foreground: #2A120B;
  --growth-green: #81C784;
  --growth-green-foreground: #102914;
  --gold: #FFD54F;
  --gold-foreground: #2A2005;
  --border: #312c40;
  --input: #2b273a;
  --ring: #ac95c9;
  --chart-1: #ac95c9;
  --chart-2: #f2b8c3;
  --chart-3: #77b8a4;
  --chart-4: #f0cd8d;
  --chart-5: #a0b8e3;
  --sidebar: #031e35;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #ffffff;
  --sidebar-primary-foreground: #031e35;
  --sidebar-accent: #01335f;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #333333;
  --sidebar-ring: #a4a4a4;
  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}

body {
  @apply font-sans;
}